<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
    <title>{{title}}</title>
    </head>
    <body>
    {% extends "head.html" %}

    {% block content %}
        <div >
                        
            <h3 style="text-align: center;">Хешифрование методом "SHA256"</h3><br>
            <p>Метод хеширования SHA256 основан на технологии Меркла-Дамгарда. Он разбивает сообщение на 16 частей и перемешивает их 64 раза. На выходе получается универсальный идентификатор фиксированного объёма в 256 байт. Хеш предыдущего блока используется для шифрования следующего блока. Изменение хотя бы одного символа делает недействительной всю цепочку.</p>            <form method="post">
                <div class="input-group mb-3">
                    <input name="password" type="text" id="password" class="form-control" placeholder="Введите пароль" aria-describedby="button-addon2" value={{mesege}} >
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Шифровать</button>
                </div>
            
            <p>Хешированный пароль:</p>
            <input name="scrypt" type="text" id="scrypt" class="form-control" placeholder="Результат хеширования" value={{cryt}}>
        </form>
        </div>
            
    {% endblock %}

</body>
</html>
    
